.simple-section {
  height: 100vh;   /* 🔥 reduced */
  background: white;
  position: relative;
}

/* HEADING */
.title {
  position: sticky;
  top: 50%;

  text-align: center;
  font-weight: 700;

  font-size: clamp(36px, 6vw, 64px);

  z-index: 10;
}